<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- bootstrap added. -->
	<link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	
	<!-- fontawesome css added. -->
	<link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css"
	      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	
	<title>Aviro</title>
	
	<link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="100" class="d-inline-block align-top" alt=""/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}" href="#">home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/shop}" href="#">shop</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Sign Up</a>
				</li>
			
			</ul>
		
		</div>
	</div>
</nav>
<div class="container">
	<div class="col-sm-6">
		<h3 style="margin-top: 10px">Sign Up Now</h3>
		<p>Please fill out this to register</p>
		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" id="firstName" required placeholder="Your Firstname" class="form-control form-control-lg">
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName" required placeholder="Your Lastname" class="form-control form-control-lg">
			</div>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control form-control-lg" required minlength="6" placeholder="Email" name="email" id="email"
				       aria-describedby="emailHelp">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with
					anyone else.</small>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control form-control-lg" required placeholder="Password" name="password"
				       id="password">
			</div>
			
			<input type="submit" value="Register" class="btn btn-primary btn-block">
			<span style="margin-top: 10px">Already have an account <a class="linkControl" href="./login.html"
			                                                          th:href="@{/login}">Login here</a></span>
		</form>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
